body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assests/ImagesNew/Desktop1.png') no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.survive-button {
    margin-top: 350px;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: rgba(225, 7, 7, 0.852);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.survive-button:hover {
    background: rgba(200, 0, 0, 0.9);
    transform: scale(1.1);
}
